<!-- Este es el componente en donde vamos a meter nuestro register o login de usuario para el triviaquiz -->
<!-- La lógica sería plantear dos cards. Una para login y otra para register. -->
<app-nav></app-nav>

<div class="auth_wrapper">

    <app-register></app-register>
    
    <div>
        <h4 class="text-center text-light">if you already own a user account...</h4>
        <i class="fa-solid fa-angles-down"></i>
        <app-login></app-login>
    </div>
    

</div>

<app-footer></app-footer>