.auth_wrapper {
    padding: 4rem 0;
    background-color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

.grid {
    position: absolute;
    z-index: 0;
    width: 100%;

    overflow: hidden;
    padding: 1rem 0;
    white-space: nowrap;

    -webkit-mask: linear-gradient(90deg, transparent, #FFF, #FFF, transparent);
    mask: linear-gradient(90deg, transparent, #FFF, #FFF, transparent);
}

.grid_scroll {
    animation: scroll_grid_animate 20s ease-in-out infinite;
    display: inline-block;
}

.grid_scroll img {
    margin-left: -22px;
}


@keyframes scroll_grid_animate {
    0% {
        transform: translateX(0%)
    }

    50% {
        transform: translateX(calc(-10% - .5rem))
    }

    100% {
        transform: translateX(00%)
    }
}

.login_container,
.register_container {
    position: relative;
    z-index: 1;
}

.auth_wrapper .login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth_wrapper .login_container h4 {

    font-size: 1.4rem;
    width: 55%;
    user-select: none;
}

i {
    color: #5eff01;
    font-size: 2.4rem;
    margin-bottom: .8rem;
}

.login_container:hover {
    i {
        color: #ff2eb2;
    }
}