<!-- Esta es mi página inicial, desde donde podremos redirigirnos al login o register o comenzar a hacer un trivia quiz si ya estamos registrados! -->
<app-nav></app-nav>
<div>
    <header class="header" id="header">
        <div class="container">
            <div class="header_wrap">
                <div class="title">
                    <!-- <h1>TriviaQuiz NextGen</h1> -->
                    <img src="/assets/logo_provisional-02.png" alt="TriviaQuiz Logo" />
                    <h4>Test your knowledge and<span class="title_span_color"> show what you know about the news!</span></h4>
                    <hr style="color: #5eff01;">
                </div>
            </div>
    </div>
    </header>

    <!-- El main nos puede reconducir a la página de registro o a realizar una trivia -->
    <div class="wrapper_contained">
        <main class="wrapper">
            <!-- REDIRIGIMOS A LA PÁGINA DE REGISTRO -->
            <section class="go_to_register">
                <div class="glow_card_bg">
                    <div class="card_content go_register_card">
                        <h4>Before you start...</h4>
                        <p class="text-start mt-4">You need to create a user account to start playing TriviaQuiz.

                            <br><br>
                            <span class="">You will be able to enter the classification and compete against other users!</span>
                        </p>
                        <button class="mt-4">register<span class="fw-bolder"> / </span>login</button>
                    </div>
                </div>
            </section>

            <!-- CARD PARA REALIZAR UNA TRIVIA -->
            <section class="go_to_trivia">
                <div class="glow_card_bg">
                    <div class="card_content go_register_card">
                        <h4><span class="color_pink_h4">Let's play</span> Trivia!</h4>
                        <p class="text-light mb-5 mt-4">Choose between normal trivia or select categories for your game  <span class="text-info">(minimum 3)</span>.</p>
                        <div class="trivia_game_options">
                            <button class="random_trivia_btn" (click)="goToRandomTrivia()" >Generate Random Trivia</button>

                            <select multiple>
                                <option *ngFor="let category of categories$ | async" [value]="category.name">{{ category.name }}</option>
                            </select>

                            <button class="categorized_trivia_btn">categorized trivia</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>

<app-footer></app-footer>
