<!-- Esta es mi página inicial, desde donde podremos redirigirnos al login o register o comenzar a hacer un trivia quiz si ya estamos registrados! -->

<!-- <pre>{{ categories$ | async | json }}</pre> -->

<app-nav></app-nav>
<div>
    <header class="header" id="header">
        <div class="container">
            <div class="header_wrap">
                <div class="title">

                    <div class="title_info_content">
                        <div class="trivia_quiz_logo_container">
                            <img src="/assets/logo_vertical_400px-06.png" alt="TriviaQuiz Logo" class="trivia_quiz_logo"/>
                        </div>
                        <h4>Test your knowledge and<span class="title_span_color"> show what you know about the news!</span>
                        </h4>
                        <hr>
                    </div>
                    
                    <!-- IMAGOLOGO QUE ESTÁ EN EL FONDO -->
                    <div class="imago_logo_container d-flex justify-content-center">
                        <img src="/assets/NGMQ_LOGO_375px-03.png" alt="" class="imago_logo"/>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- El main nos puede reconducir a la página de registro o a realizar una trivia -->
    <div class="wrapper_contained">
        <main class="wrapper">
            <!-- REDIRIGIMOS A LA PÁGINA DE REGISTRO -->
            <section class="go_to_register">
                <div class="glow_card_bg">
                    <div class="card_content go_register_card">
                        <h4>Before you start...</h4>
                        <p class="text-start mt-4">You need to create a user account to start playing TriviaQuiz.

                            <br><br>
                            <span class="">You will be able to enter the classification and compete against other users!</span>
                        </p>
                        <button (click)="navigateToRegisterLogin()" class="mt-4">register<span class="fw-bolder"> / </span>login</button>
                    </div>
                </div>
            </section>

            <!-- CARD PARA REALIZAR UNA TRIVIA -->
            <section class="go_to_trivia">
                <div class="glow_card_bg">
                    <div class="card_content go_register_card">
                        <h4><span class="color_pink_h4">Let's play</span> Trivia!</h4>
                        <p class="text-light mb-5 mt-4">Choose between normal trivia or select categories for your game  <span class="text-info">(minimum 3)</span>.</p>
                        <div class="trivia_game_options">
                            <button class="random_trivia_btn" (click)="goToRandomTrivia()" >Generate Random Trivia</button>

                            <select multiple>
                                <option *ngFor="let category of categories$ | async" [value]="category[1]">{{ category[1] }}</option>
                            </select>

                            <button class="categorized_trivia_btn">categorized trivia</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <div class="grid">
            <div class="grid_scroll">
                <img src="/assets/grid_green-07.png" />
                <img src="/assets/grid_green-07.png" />
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>
