h4 {
    font-family: "radwave", Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: white;
    padding: 2rem 0rem;

    background: linear-gradient(-45deg, #e73c7e, black, #5eff01);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 20% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 20% 50%;
    }
}

.title {
    height: 72dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_info_content {
    // border: 1px solid red;
    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_info_content h4 {
    margin-top: 2rem;
    mix-blend-mode: color-dodge;
}

hr {
    margin-top: 1rem;
    width: 100%;
    border: .6px solid white;
    mix-blend-mode: color-burn;
}

.trivia_quiz_logo_container {
    width: 100%;
    margin: 2rem 0;
}

.trivia_quiz_logo_container img {
    width: 28dvw;
    transition:
        scale 0.3s cubic-bezier(0.46, 0.03, 0.56, 0.95);
}

.trivia_quiz_logo_container img:hover {
    cursor: pointer;
    scale: 102%;
    filter: contrast(20);
}

.imago_logo_container {
    // border: 1px solid blue;
    position: absolute;
    z-index: 0;

    mix-blend-mode: difference;
}

.title .imago_logo_container img {
    width: 50%;
}

.title_span_color {
    color: #5eff01;
    text-decoration: underline;
}

// El wrapper de todo el contenido debe presentarse como un grid
.wrapper_contained {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.wrapper_contained .grid {
    position: absolute;
    z-index: 0;
    width: 100%;

    overflow: hidden;
    padding: 1rem 0;
    white-space: nowrap;

    -webkit-mask: linear-gradient(90deg, transparent, #FFF, #FFF, transparent);
    mask: linear-gradient(90deg, transparent, #FFF, #FFF, transparent);
}

.grid_scroll {
    animation: scroll_grid_animate 20s ease-in-out infinite;
    display: inline-block;
}

.grid_scroll img {
    margin-left: -22px;
}


@keyframes scroll_grid_animate {
    0% {
        transform: translateX(0%)
    }

    50% {
        transform: translateX(calc(-10% - .5rem))
    }

    100% {
        transform: translateX(00%)
    }
}

.wrapper {
    position: relative;
    z-index: 1;
    width: 84%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas:
        "register trivia trivia";
    // gap: 2rem;
    column-gap: 2rem;

    padding: 4rem 0;
    overflow: hidden;
}

.wrapper section {
    align-self: center;
}

.go_to_register {
    grid-area: register;
}

.go_to_trivia {
    grid-area: trivia;
}

.glow_card_bg {
    background-color: white;
    border-radius: 2rem;
    position: relative;
    z-index: 0
}

.glow_card_bg>* {
    position: relative;
    z-index: 1;
}

/* @PROPERTY para crear nuestra variable personalizada de gradiente animado*/
@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

// .glow_card_bg::before {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     border-radius: inherit;


//     background-color: #5eff01ba;
//     filter: blur(8px);
// }



.card_content {
    text-align: center;
    background-color: rgb(33, 33, 33);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 99;

    padding: 2rem;

    border-radius: inherit;
    border: 1px solid white;

    color: #5eff01;
    transition:
        background-color, box-shadow 0.3s cubic-bezier(0.46, 0.03, 0.56, 0.95),
}

.card_content:hover {
    background-color: #151515;
    box-shadow: 6px 6px #5eff01;
}

.card_content .color_pink_h4 {
    color: #ff2eb2;
}

.go_register_card p {
    color: white;
}

.go_register_card span {
    font-weight: 700;
}


.trivia_game_options {
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    // gap: 1rem;
    grid-column: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    grid-template-areas:
        "random select"
        "random categorized"
        "random categorized"
    ;
}

.random_trivia_btn {
    grid-area: random;
}

.trivia_game_options select {
    grid-area: select;

    background-color: #151515;
    color: white;

    padding: .6rem 1rem;
    border-radius: 1rem;
}

.categorized_trivia_btn {
    grid-area: categorized;
}

button {
    background-color: #000000;

    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "radwave", Helvetica, sans-serif;
    line-height: 1.4rem;

    color: #5eff01;
    padding: 0.8rem;
    border-radius: 1rem;
    border: 1px solid #cecece;

    transition:
        background-color 0.3s cubic-bezier(0.46, 0.03, 0.56, 0.95),
        color 0.3s cubic-bezier(0.46, 0.03, 0.56, 0.95),
        box-shadow 0.3s cubic-bezier(0.46, 0.03, 0.56, 0.95);
}

button:hover {
    background-color: #ff2eb2;
    color: white;

    box-shadow:
        4px 4px #5eff01,
        7px 7px #FFF;
}

@media only screen and (min-width: 481px) and (max-width: 1100px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "register trivia"
        ;
    }

    .title img {
        width: 12rem;
        margin-left: 0;
    }
}

@media only screen and (max-width: 480px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: 1fr;
        grid-template-areas:
            "register"
            "trivia"
        ;
    }

    .title img {
        width: 20rem;
        margin-left: 0;

    }
}