<!-- DENTRO DE APP COMPONENT MANDAMOS CADA UNO DE LOS COMPONENTES QUE CONFORMEN NUESTRA APP -->
<div class="full_container">
    <!-- <button class="btn btn-primary">asdf</button> -->

    <!-- La razón por la que no compartimos las vistas del navBar y del footer es porque no queremos que sean accesibles una vez que estamos dentro del componente trivia.

    Ya que queremos restringir el comportamiento del usuario y que se vea obligado a finalizar el test, o abandonar el mismo. -->
    <!-- <app-nav></app-nav> -->

    <router-outlet></router-outlet>
</div>

