<div class="footer-basic">
    <footer>
        <div class="logo_container text-center">
            <img src="/assets/NGMQ_LOGO_375px-03.png" />
        </div>
        <div class="social">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">News</a></li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">NextGen TriviaQuiz  © 2024 | <a href="www.alvarofajardo.com">alvarofajardo.com</a></p>
        <div class="logo_alien text-center">
            <a href="www.alvarofajardo.com"><img src="/assets/logo-fajardo-white.png" class="logo_fajardo" /></a>
            <img src="/assets/alien-white-300px.png" class="alien_head" />
        </div>
    </footer>
</div>
