<!-- Dentro de este template vamos a recibir los datos del primer trivia test -->
<!-- <pre>{{ triviaTest$ | async | json }}</pre> -->

<section class="random_trivia_test">
	<div class="trivia_wrapper">
		<!-- Este botón activa un pop-up modal que pregunta si queremos volver a la Homepage -->
		<div
			class="trivia_head_ d-flex gap-4 justify-content-between align-items-center"
		>
			<button
				class="button go_back_button align-self-end"
				data-bs-toggle="modal"
				data-bs-target="#backToHomepage"
			>
				<i class="fa-solid fa-angles-left"></i> Go back
			</button>

			<div class="d-flex flex-column gap-4">
				<div class="counter_div" *ngIf="timer$ | async as timer">
					<span class="counter">{{ timer }}</span>
				</div>
				<div
					class="border border-white rounded-pill d-flex justify-content-center align-items-center p-2"
					*ngIf="loggedUser$ | async as user"
				>
					<span class="btn_user">{{ user.username }}</span>
				</div>
			</div>
		</div>

		<form [formGroup]="userAnswersForm" (ngSubmit)="onSubmit()">
			<ol class="trivia_list">
				<li
					class="trivia_list_item"
					*ngFor="let item of triviaTest$ | async; let i = index"
				>
					<div
						class="d-flex gap-4 justify-content-between align-items-center"
					>
						<h2 class="list_item_num align-self-start">
							{{ i + 1 }}
						</h2>
						<div class="list_item_category align-self-start">
							<h4>{{ item.category }}</h4>
						</div>
					</div>

					<hr />
					<div
						class="d-flex gap-4 justify-content-start align-items-center"
					>
						<!-- <h1 class="list_item_num align-self-start">{{ i + 1 }}</h1> -->
						<h4 class="list_item_question">{{ item.pregunta }}</h4>
					</div>

					<div
						class="trivia_list_answer_wrapper mt-2 form-check d-flex flex-column gap-2"
					>
						<!-- <select class="form-control" formControlName="user_answers">
                        <option disabled [value]="">Por favor, selecciona una:</option>
                        <option [value]="item.ans2">{{ item.ans2 }}</option>
                        <option [value]="item.ans1">{{ item.ans1 }}</option>
                        <option [value]="item.ans3">{{ item.ans3 }}</option>
                    </select> -->
						<!-- La lógica de las respuestas debemos de manejarla a través de un radio button
					
					Solo podemos seleccionar una respuesta de entre las tres posibles. -->
						<label [for]="i" style="display: none">Answers:</label>

						<label [for]="item.ans1">
							<input
								[id]="item.ans1"
								type="radio"
								[formControlName]="item.id_pregunta.toString()"
								[value]="item.ans1"
								class="form-check-input me-2"
							/>
							{{ item.ans1 }}
						</label>

						<label [for]="item.ans2">
							<input
								[id]="item.ans2"
								type="radio"
								[formControlName]="item.id_pregunta.toString()"
								[value]="item.ans2"
								class="form-check-input me-2"
							/>
							{{ item.ans2 }}
						</label>

						<label [for]="item.ans3">
							<input
								[id]="item.ans3"
								type="radio"
								[formControlName]="item.id_pregunta.toString()"
								[value]="item.ans3"
								class="form-check-input me-2"
							/>
							{{ item.ans3 }}
						</label>
					</div>
				</li>
			</ol>

			<!-- Provisionalmente, y hasta que manejemos los resultados del test, 
		el botón de send-results devolverá al usuario a la HomePage -->
			<div
				class="trivia_head_ d-flex gap-4 justify-content-between align-items-center"
			>
				<!-- <div class="counter_div" *ngIf="timer$ | async as timer">
					<span class="counter">{{ timer }}</span>
				</div> -->

				<button
					class="button send_answers_button"
					type="submit"
					data-bs-toggle="modal"
					data-bs-target="#getFinalScore"
				>
					Send my answers <i class="fa-solid fa-angles-right"></i>
				</button>
			</div>
		</form>
	</div>
</section>

<!-- Nuestros pop-up modales -->
<!-- Pop-up al llamar al go-back -->
<div
	class="modal fade"
	tabindex="-1"
	id="backToHomepage"
	aria-labelledby="backToHomepage"
	aria-hidden="true"
>
	<div class="modal-dialog text-white">
		<div class="modal-content bg-black shadow border border-white">
			<div class="modal-body">
				<p class="lead mt-3">
					Are you sure you want to leave this trivia test?
				</p>
				<p class="text-danger">
					<strong>Warning:</strong> If you leave the page, your
					results won't be saved.****
				</p>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal"
				>
					Cancel
				</button>
				<button
					(click)="navigateHome()"
					type="button"
					class="btn btn-danger"
					data-bs-dismiss="modal"
				>
					<i class="fa-solid fa-angles-left"></i>
					Go back
				</button>
			</div>
		</div>
	</div>
</div>

<!-- <pre>{{ userAnswersForm.value | json }}</pre> -->
<!-- <pre>{{ loggedUser$ | async | json }}</pre> -->

<!-- Pop-up con la score final en el triviaTest -->
<div
	class="modal fade"
	tabindex="-1"
	id="getFinalScore"
	aria-labelledby="get final score"
	aria-hidden="true"
>
	<div class="modal-dialog text-white">
		<div class="modal-content bg-black shadow border border-white">
			<div class="modal-body">
				<p class="lead mt-3">
					Your Score to this Trivia Test. The score will be added to
					your user profile!
				</p>

				<h2
					class="text-center fw-bolder"
					style="color: #5eff01; font-size: 4rem"
				>
					{{ finalScore }}
				</h2>
			</div>
			<div class="modal-footer">
				<button
					(click)="navigateHome()"
					type="button"
					class="btn btn-danger"
					data-bs-dismiss="modal"
				>
					<i class="fa-solid fa-angles-right"></i>
					Go to Homepage
				</button>
			</div>
		</div>
	</div>
</div>
