.random_trivia_test {
    display: flex;
    justify-content: center;

    background: linear-gradient(-45deg, #1a4600, black, #151515, #1a4600);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 20% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 20% 50%;
    }
}

.trivia_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    padding: 4rem 0;
}

.trivia_head_ {
    width: 100%;
}

.trivia_head_ .counter_div {
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;


    background-color: #000000;

    border: 1px solid white;
    padding: 1.4rem 1rem 1rem 1rem;
    border-radius: 1rem;

    user-select: none;

    box-shadow: 8px 8px rgb(55, 55, 55), 14px 14px rgb(100, 100, 100);
}

.trivia_head_ .counter {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "radwave", Helvetica, sans-serif;
    line-height: 1.4rem;
    color: #5eff01;

    user-select: none;

}

.btn_user {
    font-family: "radwave", Helvetica, sans-serif;
    color: white;
    user-select: none;
}

// .trivia_head_ .counter .hurry_up {
//     color: red;
// }

.trivia_list {
    margin: 0;
    padding: 0;

    list-style: none;
    // max-width: 900px;

    color: white;
}

.trivia_list_item {
    background-color: #252525;
    max-width: 850px;

    margin: 2rem 0;
    padding: 2rem;

    border: 1px solid #5eff01;
    border-radius: 1rem;

    box-shadow: 8px 8px rgb(55, 55, 55), 14px 14px rgb(100, 100, 100);
    transition:
        color 0.3s cubic-bezier(0.46, 0.03, 0.56, 0.95),
        box-shadow 0.3s cubic-bezier(0.46, 0.03, 0.56, 0.95);
}

.trivia_list_item:hover {
    .list_item_num {
        color: #ff2eb2;
    }

    border: 1px solid #ff2eb2;
    box-shadow: 8px 8px rgb(175, 175, 175),
    14px 14px rgb(222, 222, 222);
}

.list_item_category {
    width: fit-content;
    border: 1px solid #5eff01b8;
    background-color: #123200c8;
    border-radius: 3rem;

    padding: .2rem .8rem;
}

.list_item_category h4 {
    font-size: 1rem;
    padding-top: .4rem;
    color: #5eff01;

    user-select: none;
}

hr {
    margin-top: 4px;
    margin-bottom: 8px;
}

.list_item_question {
    user-select: none;
}

.trivia_list_answer_wrapper select {
    background-color: #151515;
    color: white;

    padding: .6rem 1rem;
    border-radius: 1rem;
}

.button {
    background-color: #000000;

    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "radwave", Helvetica, sans-serif;
    line-height: 1.4rem;

    color: #5eff01;
    padding: 0.8rem;

    border-radius: 1rem;
    border: 1px solid #cecece;

    transition:
        background-color 0.12s cubic-bezier(0.46, 0.03, 0.56, 0.95),
        color 0.12s cubic-bezier(0.46, 0.03, 0.56, 0.95),
        box-shadow 0.3s cubic-bezier(0.46, 0.03, 0.56, 0.95);
}

.button:hover {
    background-color: #ff2eb2;
    color: white;

    box-shadow:
        4px 4px #5eff01,
        7px 7px #FFF;
}

.go_back_button {
    cursor: pointer;

    align-self: start;
}

.send_answers_button {
    cursor: pointer;

    margin-top: 2rem;
    align-self: end;
}

.modal-footer button {
    background-color: #000000;

    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "radwave", Helvetica, sans-serif;
    line-height: 1rem;

    color: #5eff01;
    padding: 0.8rem;

    border-radius: 1rem;
    border: 1px solid #cecece;

    transition:
        background-color 0.12s cubic-bezier(0.46, 0.03, 0.56, 0.95),
        color 0.12s cubic-bezier(0.46, 0.03, 0.56, 0.95),
        box-shadow 0.3s cubic-bezier(0.46, 0.03, 0.56, 0.95);
}

.modal-footer button:hover {
    background-color: #ff2eb2;
    color: white;
}